{% extends "vuelos/base.html" %}

{% block title %}
    Vuelo {{ vuelo.id_vuelos }}
{% endblock %}

{% block body %}
<h1>Vuelo {{ vuelo.id_vuelos }}</h1>
<ul>
    <li>Origin: {{ vuelo.id_origin }}</li>
    <li>Destination: {{ vuelo.id_destination }}</li>
    <h3>Pasajeros</h3>
    <ul>    
        {%for personas in pasajeros%}
        <li>{{personas.nombre}} {{personas.apellido}}</li>
        {% empty %}  <!--empty se ejecuta si pasajeros llega vacio-->
        <li>No hay pasajeros</li>
        {%endfor%}
    </ul>
</ul>

{%if no_pasajeros %}
    <h2>Añadir pasajero</h2>
    <form action="/vuelos/{{vuelo.id_vuelos}}/book" method="POST">
        {% csrf_token %}
        <select name="pasajero">
            {% for persona in no_pasajeros %}
                <option value="{{ persona.id_pasajero }}">{{persona.nombre}} {{persona.apellido}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Anadir al Vuelo">
    </form>
{% else %}
    <div>No hay pasajeros para anadir</div>
{% endif %}

<a href="{% url 'indexa' %}">Back to full listing</a>

{% endblock %}