{% extends "vuelos/base.html" %}

{% block title %}
    Vuelo {{ vuelo.id_vuelos }}
{% endblock %}

{% block body %}
<h1>Vuelo {{ vuelo.id_vuelos }}</h1>
<ul>
    <li>Origin: {{ vuelo.id_origin }}</li>
    <li>Destination: {{ vuelo.id_destination }}</li>
    <h3>Pasajeros</h3>
    <ul>    
        {%for personas in pasajeros%}
        <li>{{personas.nombre}} {{personas.apellido}}</li>
        {% empty %}  <!--empty se ejecuta si pasajeros llega vacio-->
        <li>No hay pasajeros</li>
        {%endfor%}
    </ul>
</ul>
<a href="{% url 'indexa' %}">Back to full listing</a>

{% endblock %}